{% extends "blog/article_base.html" %}

{% block nav_aboutme_active %}
    active
{% endblock %}

{% block article_content %}
    <div style="margin-bottom: 60%">
        <h1>正在建设中 </h1>
        <img src="http://upload-images.jianshu.io/upload_images/4781155-74a50833771b286b.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
        <a>更多消息，请关注路人甲的学习记录</a>
        <p style="font-size: 35px;">
            <a style="color: #3194d0" href="https://github.com/Niracler/WebStudy">
                项目网址
            </a>
        </p>
    </div>
{% endblock %}

