{% extends "blog/base.html" %}

{# 标题 #}
{% block title %}
    Niracler's Blog
{% endblock %}

{% block header_extends %}
{% endblock %}

{# 内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% block article_content %}
                {% endblock %}
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>文章分类</h4>
                    </div>
                    <div class="panel-body">
                        之后再弄。。。
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}