{% extends "blog/article_base.html" %}
{% load custom_markdown %}

{% block nav_blog_active %}
    active
{% endblock %}

{% block article_content %}

    <h1>
        <a href="{% url 'article_detail' article_obj.pk %}">
            {{ article_obj.title }}
        </a>
    </h1>
    <div>
        <p>
            Time：{{ article_obj.date_time }}
            author：{{ article_obj.author }}
            <a class="my_category" href="{% url "articles_with_category" article_obj.type_name %}">
                {{ article_obj.type_name }}
            </a>
        </p>
    </div>
    <div>
        {{ article_obj.content| custom_markdown }}
    </div>


{% endblock %}