{% extends "blog/base.html" %}
{% load custom_markdown %}

{#{% block nav_blog_active %}#}
{#    active#}
{#{% endblock %}#}

{% block content %}


    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="my-4">Page Heading
            <small>Secondary Text</small>
        </h1>


        {#循环#}
        {% for article in articles %}
            {#        <h1>#}
            {#            <a href="{% url 'article_detail' article.pk %}">#}
            {#                {{ article.title }}#}
            {#            </a>#}
            {#        </h1>#}
            {#        <div>#}
            {#            <p>#}
            {#                Time：{{ article.date_time }}#}
            {#                author：{{ article.author }}#}
            {#                <a class="my_category" href="{% url "articles_with_category" article.type_name %}">#}
            {#                    {{ article.type_name }}#}
            {#                </a>#}
            {#            </p>#}
            {#        </div>#}
            {#        <div>#}
            {#            {{ article.content| custom_markdown |truncatewords_html:15 }}#}
            {#        </div>#}

            <!-- Blog Post -->
            <div class="card mb-4">
{#                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="{% url 'detail' article.pk%}">
                            {{ article.title }}
                        </a>
                    </h3>
                    <p class="card-text">{{ article.content| custom_markdown |truncatewords_html:15 }}</p>
                    <a href="{% url 'detail' article.pk %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ article.date_time }} by
                    <a href="">{{ article.author }}</a>
                </div>
            </div>

        {% empty %}
            <p>-- 暂无博客，敬请期待 --</p>
        {% endfor %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div>

{% endblock %}