{% extends "blog/base.html" %}
{% load custom_markdown %}

{% block content %}


    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="my-4">Page Heading
            <small>Secondary Text</small>
        </h1>


        {#循环#}
        {% for new in news %}

            <!-- Blog Post -->
            <div class="card mb-4">
                {#                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="{{ new.url }}">
                            {{ new.title }}
                        </a>
                    </h3>
                    <p class="card-text">{{ new.content| truncatewords_html:15 }}</p>
                    <a href="{{ new.url }}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ new.date_time }} by
                    <a href="">888</a>
                </div>
            </div>

        {% empty %}
            <p>-- 暂无博客，敬请期待 --</p>
        {% endfor %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
        </ul>

        {% if news.object_list and news.paginator.num_pages > 1 %}
            <div>
                <ul class="pager">
                    {% if news.has_previous %}
                        <li><a href="?page={{ news.previous_page_number }}">上一页</a></li>
                    {% endif %}

                    {% if news.has_next %}
                        <li><a href="?page={{ news.next_page_number }}">下一页</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

    </div>

{% endblock %}